---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="mx-auto w-full container">
	<main>
		<section class="space-y-16 text-white">
			<h1 class="text-4xl font-balsamiq">windswept</h1>
		</section>
	</main>
</div>
