---
const pathnames = [
	{
		"path": "/",
		"label": "Home"
	},
	{
		"path": "/commands",
		"label": "Commands"
	},
	{
		"path": "/faqs",
		"label": "FAQs"
	},
	{
		"path": "/about",
		"label": "About"
	}
]
---

<div class="mx-auto w-full container">
	<main class="space-y-16 text-center">
		<h1 class="text-4xl">windswept</h1>
		<p class="text-center">
			Brand colors:
		</p>

		<div class="place-self-center mt-12 flex gap-2">
			<div class="size-24 bg-blue-500 shadow-md border"></div>
			<div class="size-24 bg-green-500 shadow-md border"></div>
			<div class="size-24 bg-pink-500 shadow-md border"></div>
		</div>

		<div class="place-self-center mt-12 flex flex-col gap-4">
			{
				pathnames.map((pathname) => (
					<a 
						href={pathname.path}
						class="underline"
					>
						{pathname.label}
					</a>
				))
			}
		</div>
	</main>
</div>
