---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="mx-auto w-full container">
	<main>
		<section>
			<h1 class="text-3xl text-center font-bold underline">Welcome</h1>
		</section>
	</main>
</div>
