---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="mx-auto w-full container">
	<main>
		<section class="space-y-16">
			<div class="flex">
				<div class="size-48 bg-blue-500"></div>
				<div class="size-48 bg-green-500"></div>
				<div class="size-48 bg-pink-500"></div>
			</div>
		</section>
	</main>
</div>
